@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 @Html.ActionLink("Add Customer", "Create", "Customer", new {@class = "ModalDlg actionLnkBttn", data_dialog_id="replyDialog",data_dialog_title="Reply Ticket"})  